<%= image_tag "jeopardy_title.jpg", :width => "100%", :id => "title-image" unless game_on? %>

<div id="dashboard" style="<%= "display:none" unless game_on? %>">
  <table class="teams" style="<%= "display:none" if final_jeopardy? %>">
    <tr>
      <% @teams.first(9).each do |team| %>
        <th><b><%= team.name %></b></th>
      <% end %>
    </tr>
    <tr>
      <% @teams.first(9).each do |team| %>
        <td><span class="label label-inverse" id="team-<%= team.id %>-points"><%= "#{pluralize team.points, "points"}" %></span></td>
      <% end %>
    </tr>
  </table>

  <table class="board" style="<%= "display:none" unless single_jeopardy? %>" id="single">
    <thead>
      <tr>
        <% topics_with_questions(Game::SINGLE_JEOPARDY).each do |topic| %>
          <th><span id="topic-<%= topic.id %>" style="<%= "display:none" unless game_on? %>"><%= topic.name %></span>&nbsp;</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% 5.times do |i| %>
        <tr>
          <% topics_with_questions(Game::SINGLE_JEOPARDY).each do |topic| %>
            <td>
              <div>
                <% question =  topic.question_for_value((i + 1) * 100) %>
                <% unless question.answered? && game_on? %>
                <div id="question-<%= question.id %>">$<%= question.value %></div>
                <% end %>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table class="board" style="<%= "display:none" unless double_jeopardy? %>" id="double">
    <thead>
      <tr>
        <% topics_with_questions(Game::DOUBLE_JEOPARDY).each do |topic| %>
          <th><span id="topic-<%= topic.id %>"><%= topic.name %></span>&nbsp;</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% 5.times do |i| %>
        <tr>
          <% topics_with_questions(Game::DOUBLE_JEOPARDY).each do |topic| %>
            <td>
              <div>
                <% question =  topic.question_for_value((i + 1) * 200) %>
                <% unless question.answered? && game_on? %>
                <div id="question-<%= question.id %>">$<%= question.value %></div>
                <% end %>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table class="board" style="<%= "display:none" unless final_jeopardy? %>" id="final">
    <tbody>
      <tr>
        <td colspan="18">
          <%= final_jeopardy_question.topic.name %>
        </td>
      </tr>
      <tr>
        <td colspan="18">
          <%= image_tag "final_jeopardy.png" %>
        </td>
      </tr>
      <tr class="top-teams">
        <% @top_teams.each do |team| %>
          <td>
            <b><%= team.name %></b><br />
            <span class="label label-inverse" id="team-<%= team.id %>-points"><%= "#{pluralize team.points, "points"}" %></span>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>

  <table class="teams" style="<%= "display:none" if final_jeopardy? %>">
    <tr>
      <% @teams.last(9).each do |team| %>
        <th><b><%= team.name %></b></th>
      <% end %>
    </tr>
    <tr>
      <% @teams.last(9).each do |team| %>
        <td><span class="label label-inverse" id="team-<%= team.id %>-points"><%= "#{pluralize team.points, "points"}" %></span></td>
      <% end %>
    </tr>
  </table>
</div>

<div id="music">
</div>
<script type="text/javascript" charset="utf-8">
  $(function () {
    Board.init();
  });
</script>