<script type="text/javascript" charset="utf-8">
  $(function() {
    Answers.init(<%= @question.id %>);
  });
</script>
<h2>
  <%= @team.name %> has been <%= @correct_answer ? "awarded" : "deducted" %> $<%= @points %><br>
  and now has a total of $<%= @team.points %>
</h2>
<%= link_to "Close Window", "#", :class => "btn btn-primary btn-large btn-success", :id => "close-question" %>