<div id="game-controls" align="center">
  <%= link_to "Start Game", admin_command_center_game_path, :method => :create, :class => "btn btn-primary btn-large btn-success" %>
  <%= link_to "End Game", admin_command_center_game_path, :method => :delete, :class => "btn btn-primary btn-large btn-danger" %>
</div>

<table id="board">
  <thead>
    <tr>
      <% @topics.each_with_index do |topic, index| %>
        <th><%= link_to "Show Topic #{index + 1} (#{topic.name})", admin_command_center_topic_path(:id => topic.id) %><br></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% 5.times do |i| %>
      <tr>
        <% @topics.each do |topic| %>
          <td>
            <div>
              <%= link_to "$#{((i + 1) * 100)}", admin_command_center_question_path(topic.question_for_value((i + 1) * 100)) %>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<table id="teams">
  <tr>
    <% @teams.each do |team| %>
      <th><b><%= team.name %></b></th>
    <% end %>
  </tr>
  <tr>
    <% @teams.each do |team| %>
      <td><span class="label label-inverse"><%= "#{pluralize team.points, "points"}" %></span></td>
    <% end %>
  </tr>
  <tr>
    <% @teams.each do |team| %>
      <td>
        <%= link_to "Correct", show_topic_admin_dashboard_path(:id => team.id), :class => "btn btn-primary btn-large btn-success", :style => "width: 50px" %>
      </td>
    <% end %>
  </tr>
  <tr>
    <% @teams.each do |team| %>
      <td>
        <%= link_to "Wrong", show_topic_admin_dashboard_path(:id => team.id), :class => "btn btn-primary btn-large btn-danger", :style => "width: 50px" %>
      </td>
    <% end %>
  </tr>
</table>